{{ define "main" }}
    <main aria-role="main">
            {{ if .Site.Params.portrait.path }}
               <img src="{{ .Site.Params.portrait.path }}" class="circle" alt="{{ .Site.Params.portrait.alt }}" />
            {{ end }}

            <h1 class="site-title">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div class="social-icons">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
    </main>
{{ end }}
