.social-icons {
  margin-top: 3.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-end;

  > a {
    transition: padding 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition-delay: 0.075s;

    &:hover {
      padding: 0 8px;
      transform: translateY(-3px);
      animation: none;
    }
  }
}